@font-face {
  font-family: 'PT Serif';
  src: url("../media/layout/fonts/PT_Serif.eot") format("opentype"),
      /* IE9 Compat Modes */
      url("../media/layout/fonts/PT_Serif.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../media/layout/fonts/PT_Serif.otf") format("opentype"),
      /* Legacy iOS */
      url("../media/layout/fonts/PT_Serif.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../media/layout/fonts/PT_Serif.woff") format("woff"),
      /* Modern Browsers */
      url("../media/layout/fonts/PT_Serif.woff2") format("woff2");
}
@font-face {
  font-family: 'Merriweather';
  src: url("../media/layout/fonts/Merriweather.eot") format("opentype"),
      /* IE9 Compat Modes */
      url("../media/layout/fonts/Merriweather.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../media/layout/fonts/Merriweather.otf") format("opentype"),
      /* Legacy iOS */
      url("../media/layout/fonts/Merriweather.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../media/layout/fonts/Merriweather.woff") format("woff"),
      /* Modern Browsers */
      url("../media/layout/fonts/Merriweather.woff2") format("woff2");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../media/layout/fonts/Open Sans.eot"),
      /* IE9 Compat Modes */
      url("../media/layout/fonts/Open Sans.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../media/layout/fonts/Open Sans.otf") format("opentype"),
      /* Open Type Font */
      url("../media/layout/fonts/Open Sans.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../media/layout/fonts/Open Sans.woff") format("woff"),
      /* Modern Browsers */
      url("../media/layout/fonts/Open Sans.woff2") format("woff2");
}
body{
  margin: 0;
  background: #F5F5DC;
  max-width: 100%;
  font-family: 'PT Serif', serif;
}

h2, .pageTitle{
  color: #54302E;
  font-size: 200%;
}

h3, h4, strong{
  color: #54302E;
}

h1, h2, h3, h4, h5, h6, strong{
  font-family: 'Merriweather', sans-serif;
}
.pageTitle{
  padding: 3vw;
  text-align: center;
}
.header{
  width: 95%;
  background: #54302E;
  color: white;
  display: flex;
  padding: 2.5vw;
  min-height: 80px;
  transition: transform .1s linear;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
}

.header.hide{
  background: rgba(84, 48, 46, 0.9);
  transform: translateY(0px);
}
.pages{
  padding: 18.75px;
  min-height: 75%;
  gap: 1% 0%;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.5s, opacity 0.5s;
}

.copyright{
 font-family: 'Open Sans', sans-serif;
 min-height: 100px;
 background: #ffbf86;
 padding: 4vw;
 display: flex;
 color: #54302E;
 font-size: large;
}

.header > h1{
  flex: 0 1 70vw;
}

.header > nav{
  flex: 0 1 30vw;
  height: 80px;
}

.header > nav *{
  display: inline-block;
  color: white;
  font-size: 150%;
  margin: 4%;
  text-decoration: none;
  transition: transform 0.5s ease;
}
.header > nav *:hover, .page#matherials > ul li a:hover, .copyright > div address a:hover{
  text-decoration: underline;
  transform: translateY(-3%);
}

.pages > .page{
  padding: calc(18.75px / 4);
}

.page#about{
  display: flex;
  min-height: 200px;
  padding-top: 5%;
}

.page#matherials{
  display: flex;
  flex-flow: column nowrap;
  background: #FFFDD0;
  min-height: 500px;
}

.page#contacts{
  display: flex;
  flex-flow: column nowrap;
  min-height: 400px;
}

.page#about > *{ flex: 0 1 50%; }

.page#about > .description{
 margin-top: 9%;
}

.page#about > img{
  object-fit: cover;
  max-width: 30%;
  margin: 0 auto;
}

.page#matherials > h2{
  flex: 0 1 10%;
}
.page#contacts > h2{
  flex: 0 1 10%;
}
.page#contacts > .contacts-data{
  flex: 0 1 90%;
  display: grid; 
  grid-auto-flow: column dense; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 15% 1fr 2fr; 
  grid-template-columns: 50% 30% 1fr; 
  gap: 0% 1%; 
}

.page#contacts > .contacts-data div h4{
  padding-top: 1%;
}
.page#contacts > .contacts-data div address, .page#contacts > .contacts-data div ul{
  padding-bottom: 2%;
}
.page#matherials > ul{
  flex: 0 1 90%;
  max-width: 75%;
  margin: 0 auto;
  padding: calc(18.75px / 2);
  list-style-type: none;
}

.page#matherials > ul li{
  display: inline-table;
  width: 20%;
  max-height: 200px;
  background: #EAEAEA;
  border-radius: 10px;
  padding: 4%;
  text-align: justify;
  margin: 2%;
  cursor: pointer;
  box-shadow: -4px -4.5px 5px 1px rgba(84, 48, 46, 0.45);
}
.page#matherials > ul li:hover{
  box-shadow: -8px -9px 10px 2px rgba(84, 48, 46, 0.9);
}
.page#matherials > ul li *{
  display: block;
}

.page#matherials > ul li *:not(:nth-child(1)){
  padding-top: 5%;
}

.page#matherials > ul li h3{
  font-size: 175%;
}

.page#matherials > ul li img{
  width: 100%;
  max-height: calc(96px * 2);
  object-fit: contain;
}

.page#matherials > ul li span, .page#matherials > ul li i{
  font-size: 120%;
  color: darkgray;
}

.page#matherials > ul li a{
  float: right;
  padding: 0.5vw;
  margin-top: 2%;
  font-size: 120%;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #54302E;
}

.copyright > div{
  flex: 0 1 50%;
}

.copyright > div span{
  display: block;
  margin: 2%;
}

.copyright > div address{
  margin: 2%;
  font-style: normal;
}

.copyright > div address a{
  font-weight: bold;
  text-decoration: none;
  color: #54302E;
}